<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!--meta name="viewport" content="width=device-width, initial-scale=1.0"-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <!--link href="//cdn.muicss.com/mui-0.9.6/css/mui.min.css" rel="stylesheet" type="text/css" /-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <title>SMB</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/img/logo.png"/>
  </head>
  <body>
    <div id="react-app"> </div>
    <div id="react-create"> </div>
    <script src="./js/static/webpack-output.js"></script>
  </body>
</html>
