


div.table-beer-margin{
    margin-left: 50px;
    padding: 5px;
    margin-top: 25px;
}

h4.beer-profile-detail{
    border-bottom: 2px solid #ddd;
    padding-bottom: 3px;
}

.logo-beer-icon{
    background-image: url('../img/logo.png') ;
}

.value-beer-style{
    float: right;
    /* z-index: 1900; */
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 36px;
    height: 36px;
    padding: 6px;
    background: #00bcd4;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    font: 20px;
    /* margin-bottom: 70px; */
    margin-top: 10px;
    margin-right: 10px;
}